{% include 'watches/header.html' %}

<h1 style="text-align: center">Каталог часов</h1>
<br>
{% for i in shop_key %}
  <center>
    <div class="qwerty" style="width: 18rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.description}}.</p>
        <a href="/watch_detail/{{i.id}}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <br><br>
  </center>
{% endfor %}



{% include 'watches/footer.html' %}